/* 기본 노트 스타일 */
.note {
  background-image: url("../../assets/note_sprite.png");
  background-repeat: no-repeat;
  background-size: auto 100px;
  background-position: 0 0;
  width: 100%;
  height: 59px;
}

.note--rest {
  margin-top: 10px;
}

/* 일반 음표 (위 행) */
.normal-4 {
  width: 15px;
  background-position: 0 0;
}

.normal-2 {
  width: 16px;
  background-position: -15px 0;
}

.normal-8 {
  width: 29px;
  background-position: -31px 0;
}

.normal-16 {
  width: 30px;
  background-position: -60px 0;
}

.normal-32 {
  width: 27px;
  background-position: -90px 0;
}

.dotted-normal-4 {
  width: 20px;
  background-position: -180px 0;
}

.dotted-normal-2 {
  width: 20px;
  background-position: -200px 0;
}

.dotted-normal-8 {
  width: 29px;
  background-position: -220px 0;
}

.dotted-normal-16 {
  width: 29px;
  background-position: -250px 0;
}

/* 쉼표 (아래 행) */
.rest-4 {
  width: 10px;
  background-position: 0 -61px;
}

.rest-2 {
  width: 24px;
  background-position: -10px -61px;
}

.rest-8 {
  width: 13px;
  background-position: -34px -61px;
}

.rest-16 {
  width: 15px;
  background-position: -48px -61px;
}

.rest-32 {
  width: 16px;
  background-position: -63px -61px;
}

.dotted-rest-4 {
  width: 24px;
  background-position: -79px -61px;
}

.dotted-rest-2 {
  width: 27px;
  background-position: -102px -61px;
}

.dotted-rest-8 {
  width: 19px;
  background-position: -129px -61px;
}

.dotted-rest-16 {
  width: 20px;
  background-position: -148px -61px;
}
