@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-indigo-950);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-indigo-50);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-indigo-400);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-indigo-900);
  cursor: pointer;
  transition: border-color 0.25s;
}

button.note-btn {
  background-color: var(--color-indigo-50);
  padding: 0.6em 0;
}

button:hover {
  color: var(--color-indigo-400);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-indigo-950);
    background-color: var(--color-indigo-50);
  }
  a:hover {
    color: var(--color-indigo-300);
  }
  button {
    background-color: var(--color-indigo-100);
  }
}
